settings:
  scans_dir: "./data/parkinglot/02/Scans"
  poses_file: "./data/parkinglot/02/poses.txt"
  calib_path: ""
  output_dir: "./data/parkinglot/02/outputs"
  prev_output_dir: "./data/parkinglot/01/outputs"


alignment:
  init_transform: [0.997757044, -0.0668599983, -0.00325918484, 22.8508674, 0.0668467684, 0.997755187, -0.00401207639, 32.5498352, 0.00352011600, 0.00378521150, 0.999986640, -0.221107853, 0.0, 0.0, 0.0, 1.0]
  src_voxel_size: 0.1
  tgt_voxel_size: 0.4
  icp_max_correspondence_distance: 1.0
  gicp_max_correspondence_distance: 1.0
  matcher: Open3DScanMatcher

dynamic_object_removal:
  anchor_voxel_size: 0.2
  stride: 3
  num_k: 3 # 6
  max_ratio: 0.9
  min_ratio: 0.2
  num_samples: 30
  dynamic_threshold: 0.5
  save_cleaned_session_map: true
  viz_cleaned_session_map: false
  save_static_dynamic_map: true
  viz_static_dynamic_map: false

map_update:
  voxel_size: 0.2
  coexist_threshold: 0.4
  overlap_threshold: 2.0
  density_radius: 0.5
  rho_factor: 3.0
  uncertainty_factor: 2.0
  global_eph_threshold: 0.5
  remove_dynamic_points: true
  remove_outlier_points: true